@media screen and (max-width: 480px) {
    .wrapper {
      margin-top: 10%;
    }
  }
  
  /*メイン*/
  
  
/*――――――――――――――――――――――――――――――――――― トップページ　Top ―――――――――――――――――――――――――――――――――――*/
.teamtheme1 {
  position: absolute;
  display: flex;
  padding-top: 500;
  background-color: #000000;
  width: 100%;
  height: 200px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 800; 
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
}
@media screen and (max-width: 480px) {
    .teamtheme1 {
        position: absolute;
        display: flex;
        padding-top: 500;
        background-color: #000000;
        width: 100%;
        height: 80px;
        vertical-align: middle;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 800; 
        color: #ffffff;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -10px;
      }
}
/*――――――――――――――――――――――――――――――――――― トップページ　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― グローバル　Top ―――――――――――――――――――――――――――――――――――*/
.space1 {
  margin: 250px;
}

p {
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
}

.underbar_01 {
  background:linear-gradient(transparent 80%, #ae0000 0%);
} 

.pc_view {
  display: block;
}
  
.sp_view {
  display: none;
}

h3 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  margin-bottom: -20px;
}
@media screen and (max-width: 480px) {
    .space1 {
        margin: 100px;
      }
      
      p {
        font-family: sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 14px;
      }
      
      .underbar_01 {
        background:linear-gradient(transparent 80%, #ae0000 0%);
      } 

      .pc_view {
        display: none;
      }
      
      .sp_view {
        display: block;
      }

      h3 {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        margin-bottom: 0px;
      }
}
/*――――――――――――――――――――――――――――――――――― グローバル　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― トラック　Top ―――――――――――――――――――――――――――――――――――*/
h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.track_img {
  display: flex;
  height: 200px;
  justify-content: center;
}

.track_img2 {
  display: flex;
  height: 200px;
  justify-content: center;
}
@media screen and (max-width: 480px) {
    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
      }
      
      .track_img {
        display: flex;
        height: 80px;
        justify-content: center;
      }
      
      .track_img2 {
        display: flex;
        height: 70px;
        justify-content: center;
      }
}
/*――――――――――――――――――――――――――――――――――― トラック　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― レギュレーション　Top ―――――――――――――――――――――――――――――――――――*/
.Regulation_position {
  position: relative;
  padding-left: 50px;
}

.Regulation_li {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 20px;
}

.Regulation_img {
  list-style: none;
  height: 200px;
}  

.Regulation_img_p {
  list-style: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
    .Regulation_position {
        position: relative;
        padding-left: 0px;
      }
      
      .Regulation_li {
          font-family: sans-serif;
          font-weight: 500;
          font-size: 14px;
          padding-top: 0px;
      }
      
      .Regulation_img {
        list-style: none;
        height: 160px;
      }  
      
      .Regulation_img_p {
        list-style: none;
        margin-bottom: 10px;
      }
}
/*――――――――――――――――――――――――――――――――――― レギュレーション　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― 試合の流れ　Top ―――――――――――――――――――――――――――――――――――*/
.game_position {
  position: relative;
  padding-left: 50px;
}

.game_li {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 20px;
}
@media screen and (max-width: 480px) {
    .game_position {
        position: relative;
        padding-left: 0px;
      }

    .game_li {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding-top: 10px;
    }

    .game_position {
        position: relative;
        padding-left: 0px;
    }
}

/*カッコの吹き出し*/
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  background: #ff6060;
}
  
.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ff6060;
}
@media screen and (max-width: 480px) {
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  font-size: 14px;
  background: #ff6060;
}
  
.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ff6060;
}
}
/*――――――――――――――――――――――――――――――――――― 試合の流れ　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― フッター　Top ―――――――――――――――――――――――――――――――――――*/
  .footer_space {
    margin: 2.5%;
  }
  
  footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #151515;
  }
  
  footer p {
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 480px) {
    .footer_space {
      margin: 5%;
    }
    
    footer {
      position: relative;
      width: 100%;
      height: 80px;
      background-color: #151515;
    }
    
    footer p {
      position: absolute;
      font-size: 12px;
      color: #ffffff;
      margin: 0;
      padding: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
